*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
      background: #FFF8F3;
      padding-bottom: 20px;

}
.banner-img{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}
/* ------------------------------
header and nvigation styles
--------------------------- */
nav{
    display: flex;
    justify-content: space-between;
    padding:  20px 50px ;
}
.nav-title{
    font-weight: 800;
    font-size: 25px;

}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
   list-style: none;
   margin-left: 50px;

}
/*-------------------
 banner styles 
 ---------------*/
 .banner{
    text-align: center;

 }
 .banner-left{
    width: 60%;
    margin: 20px auto;
 }
 .banner-title{
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;

 }
 .banner-description{
    margin: auto;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;

 }
 .btn{
     background: #FD6E0A;
       color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    
 }
 /*---------------
  Features
 ------------*/
 .container{
    width: 90%;
    margin: 50px auto;
 }
 .features {
    background-color: #FFFFFF;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

 }
.features-img{
    width: 50%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);


}
.features-img img{
    width: 200px;
    height: 200px;
}
.features-info{
    margin-left: 16px;
    width: 100%;
}
.container-title{
    font-size: 25px;
    margin-bottom: 20px;
    

}
.container-description{
    font-size: 15px;
    color: #757575;
    margin-bottom: 20px;

}
/*---------------------------------- 
 Features you will love & enjoy 
 --------------------------------*/
 .features-container{
        width: 90%;
    margin: 50px auto;

 }
 .feature{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

 .feature-description{
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 20px;

 }
 .feature-left img{
    width: 500px;
    height: 700px;   

 }
 /*---------------
  Some Facts 
  -----------*/

  .some-title{
    font-size: 25px;
    margin-bottom: 20px;

  }
  .some-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 40px;

  }

 .skills-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px;
    align-items: center;
}
.skill{
    background: #FFFFFF;
    /* box-shadow: 0px 6px 10px; */
    padding:15px;
    border:1px solid #FF900E ;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}
.skill img{
    width: 45px;
    height: 45px;
}
.skill-title{
    font-weight: 200;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.skill-description{
    color: #757575;
}

/* ----------------------
 Our Sponspors 
 ----------------*/
 .sponspors-container{
         width: 90%;
    margin: 50px auto;

    gap: 7px;
    align-items: center;

 }
 .sponspores-title{
     font-weight: 800;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;

 }
 .sponspores-description{
    margin: auto;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;


 }
 .sponspores-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
 }
 .sponspores-img img{
    width: 50%;
    height: auto;
 }
 /*------------------
 page design 
 ------------- */
 .design-container{
         width: 90%;
    margin: 50px auto;
    font-size: 18px;
    color: #757575;
    text-align: center;

 }
  /*-------------------
   Contact stryles
   ---------------- */
    .contact{
        display: flex;
        gap: 40px;
        background: #FFF8F3;
        padding: 130px 100px;
    }
    .contact .section-title{
        text-align: left;
    }
    .contact input,textarea{
        margin-bottom: 24px;
        border: 0;
     padding: 1px 40px;
    }

    input{
        height: 64px;
        
    }
    .contact-left{
        min-width: 50%;
    }
